.contents {
    margin-left: 5%;
    margin-right: 5%;
    font-size: large;
}

.contents p {
    margin-top: 10px;
    letter-spacing: 0.2px;
    color: #444;
}

.contents h1, h2, h3, h4, h5, h6 {
    margin-top: 50px;
    font-weight: bold !important;
    letter-spacing: 0.1px;
    color: #222;
}
